{% extends 'accounts_app/base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="text-center">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <hr>

        <div>
            <p>Don't have an account?</p> <a class="btn btn-primary" href="{% url 'accounts:signup' %}">Register</a>
        </div>
    </div>
</div>
{% endblock %}