{% extends 'todos_app/base.html' %}
{% block content %}

{% if todos %}
<div class="text-center">
    <h1>{{ todos.count }} {{ todos_status }} todos</h1>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>

<div class="row justify-content-sm-center">
    <ul class="list-group">
        {% for todo in todos %}
        <a href="{% url 'todos:updatetodo' todo.id %}"
           class="list-group-item list-group-item-action {% if todo.priority == 1 %}list-group-item-danger{% endif %} {% if todo.priority == 2 %}list-group-item-warning{% endif %} {% if todo.completed_at %}list-group-item-dark{% endif %}">
            {{ todo.title }}
            {% if todo.description %}
            <p><small>{{ todo.description|truncatechars:64 }}</small></p>
            {% endif %}
        </a>
        {% if todo.subtasks.all %}
        <div>Subtasks:</div>
        {% for sub in todo.subtasks.all %}
        <a href="{% url 'todos:updatetodo' sub.id %}"
           class="list-group list-group-item-action {% if sub.priority == 1 %}list-group-item-danger{% endif %} {% if sub.priority == 2 %}list-group-item-warning{% endif %} {% if sub.completed_at %}list-group-item-dark{% endif %}">
            - {{ sub.title }}
            {% if sub.description %}
            <p><small>{{ sub.description|truncatechars:64 }}</small></p>
            {% endif %}
        </a>
        {% endfor %}
        {% endif %}

        {% endfor %}
    </ul>
</div>

{% else %}
<div class="text-center">
    <h2>You don't have any todo!</h2>
    <a class="btn btn-primary" href="{% url 'todos:createtodo' %}">Create Todo</a>
</div>
{% endif %}

{% endblock %}