{% extends 'todos_app/base.html' %}
{% block content %}

{% if todos %}
<h1>{{ todos.count }} {{ todos_status }} todos</h1>

{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}

{% for todo in todos %}
<a href="{% url 'todos:updatetodo' todo.id %}">
    <b>{{ todo.title }}</b>
</a>

{% if todo.description %}
<p>{{ todo.description|truncatechars:64 }}</p>
{% endif %}
<br>
<br>
{% endfor %}

{% else %}
<h2>You don't have any todo!</h2>
<a href="{% url 'todos:createtodo' %}">Create Todo</a>
{% endif %}

{% endblock %}